<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#        <link rel="stylesheet" href="{{asset('build/app.css')}}">#}
        <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>
        {% if app.user %}
            <header>
                {{ include('menu.html.twig') }}
            </header>
        {% endif %}
        <main role="main" class="container">
            {% if not app.user %}
                {% block header %}
                    <div style="width: 100%; height:200px; background: linear-gradient(to right, #e6e6e6, #cdcdcd, #f4f4f4); margin-bottom: 5px;">
                        <div style="height:147px; width: 100%;">
                            <span class="title-site">{% trans %}Aitkermoune.net{% endtrans %}</span>
                        </div>
                        <div class="topnav" id="myTopnav">
                            <a href="{{ path('accueil_home') }}" class="active"> <span class="libelle-home">{% trans %}Accueil{% endtrans %}  </span><i class="fas fa-home"></i></a>
                            <a href="#news"> {% trans %}Actualité locale{% endtrans %}</a>
                            <a href="#contact">  {% trans %}Services{% endtrans %}</a>
                            <a href="#about">{% trans %}Images et vidéos{% endtrans %}</a>
                            <a href="#contact">{% trans %}Nous contacter{% endtrans %}</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                {% endblock %}
            {% endif %}
            <div class="row">
                <div class="cardleft col-12 {% if not app.user %} col-md-9 {% endif %}">
                {% block body %}{% endblock %}
            </div>
            {% if not app.user %}
                {{ include ('sideBar.html.twig') }}
                <style>
                    body{padding-top: 10px !important;}
                </style>
            {% endif %}
        </div>

    </main>
    <div class="both"></div>
    {% block footer %}
        <footer class="footer">
            <div class="container">
                <!--Copyright-->
                <div>
                    <div class="container-fluid text-center">
                        &copy; Ahmed BOUAGOUNE 2019
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {#        <script src="{{asset('build/app.js')}}"></script>#}
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>
</html>