<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
{#        <link rel="stylesheet" href="{{asset('build/app.css')}}">#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <header>
            {{ include('menu.html.twig') }}
        </header>
        <main role="main" class="container">

        {% block body %}{% endblock %}
        </main>
        <div class="both"></div>
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <!--Copyright-->
                    <div>
                        <div class="container-fluid text-center">
                            &copy; Ahmed BOUAGOUNE 2019
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        
{#        <script src="{{asset('build/app.js')}}"></script>#}

    </body>
</html>