<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
{#        <link rel="stylesheet" href="{{asset('build/app.css')}}">#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {{ include('menu.html.twig') }}
        <div class="container">

        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="app-footer">
                <div class="container">
                    <!--Copyright-->
                    <div>
                        <div class="container-fluid text-center">
                            Copyright Ahmed BOUAGOUNE 2019
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <button class="btn btn-primary">TEST <i class="far fa-address-card"></i></button>
        </div>
{#        <script src="{{asset('build/app.js')}}"></script>#}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>