{% set explodeRoute = app.request.attributes.get('_route')|split('_') %}
{% set operation = explodeRoute|last %}
<div class="btn-group" role="group" style="float:left" aria-label="Third group">
    <form method="post" action="{{ path('reponse_sondage_delete', {'id': reponse_sondage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse_sondage.id) }}">
        <button class="btn btn-labeled btn-danger"><span class="btn-label"><i class="fas fa-trash-alt"></i></span> Supprimer</button>
    </form>
    <a style="margin-left:5px;" href="{{ path('reponse_sondage_index') }}"> {{ include('button.html.twig', {'type_button': 'outline-dark', 'button_label': 'Retour à la liste', 'icon_label': 'fa-undo-alt'}) }} </a>
</div>
{% if operation == 'show' %}
    <div class="btn-group" role="group" style="float:right" aria-label="Third group">
        <a href="{{ path('reponse_sondage_edit', {'id': reponse_sondage.id}) }}">{{ include('question_sondage/_form.html.twig', {'button_label': 'Mettre à jour', 'type_button': 'info', 'icon_label': 'fa-sync-alt'}) }}</a>
    </div>
{% endif %}

