{% extends 'base.html.twig' %}



{% block title %}Liste des réponses{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <h1 class="float-left" style="line-height: 1 !important;">Liste des réponses aux sondages</h1>
    <div class="btn-group float-right" role="group" aria-label="Third group">
        <a class="float-sm-right btn btn-success" href="{{ path('reponse_sondage_new') }}" style="margin-right: 5px;"><i class="fas fa-reply"></i> Ajouter Réponse</a> 
        <a class="float-sm-right btn btn-outline-success" href="{{ path('question_sondage_new') }}"><i class="fas fa-plus"></i>  Nouveau Sondage </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Réponse</th>
                <th>Nombre de vote</th>
                <th>Sondage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reponse_sondage in reponse_sondages %}
                <tr>
                    <td>{{ reponse_sondage.reponse }}</td>
                    <td>{{ reponse_sondage.nbVote }}</td>
                    <td>{{ reponse_sondage.question }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <a role="button" class="btn btn-warning btn-sm" href="{{ path('reponse_sondage_show', {'id': reponse_sondage.id}) }}"><i class="far fa-eye"></i></a> 
                            <a role="button" class="btn btn-primary btn-sm" href="{{ path('reponse_sondage_edit', {'id': reponse_sondage.id}) }}"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- before the closing <body> tag -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
{% endblock %}
