{% set explodeRoute = app.request.attributes.get('_route')|split('_') %}
{% set operation = explodeRoute|last %}
{{ form_start(form) }}
{#{{ dump(form_widget(form)) }} #}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="col-12">
        {{ form_row(form.titre) }}
    </div>
    <div class="col-12" id="some-custom-id">
        {{ form_row(form.description) }}
    </div>

    <div class="col-12" id="some-custom-id">
        <div class="container-limites">
            <button class="add_form_field btn btn-warning" style="height:38px">Ajoutez des limites &nbsp; 
                <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>
            {{ form_row(form.limites, { 'attr': {'class': 'hidden-row'} }) }}
        </div>
    </div>

</div>
<br/>
<input type="button" id="previsualisationMap" class="btn btn-primary" value="Prévisualiser sur la carte">
<button class="btn" id="saveResume">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<h4>Prévisualisation</h4>
<hr>
<div id="mapLimites" class="col-12" style="height:480px;"></div>
<script>
    var edit = false;
    var isPolygon = true;
    {% if operation == 'edit' %}
        edit = true;
    {% endif%}
    var input_coordinates = $('input#resume_limites');
    var itemMenu = null;
</script>