{% set explodeRoute = app.request.attributes.get('_route')|split('_') %}
{% set operation = explodeRoute|last %}

{{ form_start(form) }}
<div class="form-group">
    {{ form_widget(form) }}
</div>
<div class="btn-group" role="group" style="float:right" aria-label="Third group">
    {{ include('button.html.twig', {'type_button': type_button, 'button_label': button_label, 'icon_label': icon_label}) }}
    {% if operation == 'edit' %}
        {{ include('question_sondage/_delete_form.html.twig') }}
    {% endif %}
</div>
{{ form_end(form) }}
<a href="{{ path('reponse_sondage_index') }}">{{ include('button.html.twig', {'type_button': 'outline-dark', 'button_label': "Retour aux sondages", 'icon_label': 'fa-undo-alt' }) }}</a>
