{% set explodeRoute = app.request.attributes.get('_route')|split('_') %}
{% set operation = explodeRoute|last %}
{{ form_start(form) }}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ form_errors(form) }}
</div>
<div class="row bloc-body-content col-12">
    <div class="row">
        <div class="container">
            <div class="col">
                {{ form_row(form.localityType) }}
            </div>
            <div class="col">
                {{ form_row(form.picto) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col">
                {{ form_row(form.color) }}
            </div>
            <div class="col-12">
                <div class="container-limites" style="margin-top:25px;">
                    <button class="add_form_field btn btn-warning" style="height:38px; width:100%">Ajoutez des points &nbsp; 
                        <span style="font-size:16px; font-weight:bold;">+ </span>
                    </button>
                    {{ form_row(form.coordinated, { 'attr': {'class': 'hidden-row'} }) }}
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<input type="button" id="previsualisationMap" class="btn btn-primary" value="Prévisualiser sur la carte">
<button class="btn" id="saveResume">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<h4>Prévisualisation</h4>
<hr>
<div id="mapLimites" class="col-12" style="height:480px;"></div>
<script>
    var edit = false;
    {% if operation == 'edit' %}
        edit = true;
    {% endif%}
        let map = L.map('mapLimites')
                .setView([29.393176, -9.546011], 12);
        let IconMarkerMap = L.divIcon({
            html: '<i class="fas fa-map-marker-alt fa-2x" style="color:#4b4f56;"></i>',
            className: 'my-div-icon',
            iconAnchor: [9, 24]
        });
        var max_fields = 100;
        var wrapper = $(".container-limites");
        var previsualisation = $("#previsualisationMap");
        var add_button = $(".add_form_field");
        var inputs_coordinate = '<div class="coupleLimites input-group" style="border: 1px dashed #cecece;"><input type="text" placeholder="Altitude" value="VALEUR_ALT" name="alt"/> <input type="text" placeholder="Longitude" value="VALEUR_LON" name="lon"/><a href="#" class="delete"> <i class="fas fa-times fa-3x"></i> </a> <a href="#"> <i class="fas fa-street-view show-marker fa-3x" style="margin-left:1em;"></i></a></div>';
        var input_lon = '';

        var x = 1;
        $(add_button).click(function (e) {
            e.preventDefault();
            if (x < max_fields) {
                x++;
                var input = inputs_coordinate.replace("VALEUR_ALT", "");
                $(wrapper).append(input.replace("VALEUR_LON", ""));
            } else {
                alert('You Reached the limits');
            }
        });
        if (edit) {
            let coordinates = $('input#locality_map_coordinated').val();
            var el = hydratFields();
            !coordinates ? null : placeLimitesInMap(JSON.parse(coordinates));
            if (coordinates) {
                for (var i = 0; i < JSON.parse(coordinates).length; i++) {
                    var input = inputs_coordinate.replace("VALEUR_ALT", JSON.parse(coordinates)[i][0]);
                    $(wrapper).append(input.replace("VALEUR_LON", JSON.parse(coordinates)[i][1]));
                    L.marker([JSON.parse(coordinates)[i][0], JSON.parse(coordinates)[i][1]], {icon: el['IconType']}).addTo(map).bindPopup(el['typeLocality']);
                }
            }
        } else {
            placeLimitesInMap(null);
        }

        $(wrapper).on("click", ".delete", function (e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        });
        $(previsualisation).click(function (e) {
            e.preventDefault();
            hydratFields();
        });

        var osm2 = new L.TileLayer(getOsmMap(), {minZoom: 0, maxZoom: 18});
        var miniMap = new L.Control.MiniMap(osm2, {toggleDisplay: true, minZoom: 3, maxZoom: 8, zoomLevelFixed: 3}).addTo(map);
        $('.leaflet-control-minimap').append('<div class="title-country-map">Morocco ⵍⵎⵖⵔⵉⴱ المغرب</div>');
        $('.leaflet-control-minimap').append('<div class="position-overlay-pan"></div>');

        function placeLimitesInMap(limites) {
            $.when(limites).done(function () {
                clearMap(map);
                var basemap = L.tileLayer(getOsmMap(), {dragging: !L.Browser.mobile
                }).addTo(map);

            });
        }
        function getOsmMap() {
            return 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
        }

        function clearMap(map) {
            for (i in map._layers) {
                if (map._layers[i]._path !== undefined) {
                    try {
                        map.removeLayer(map._layers[i]);
                    } catch (e) {
                        console.log("probleme avec " + e + map._layers[i]);
                    }
                }
            }
        }
        function hydratFields() {
            var picto = $('input#locality_map_picto').val();
            var color = $('input#locality_map_color').val();
            var typeLocality = $('input#locality_map_localityType').val();
            let IconType = L.divIcon({
                html: '<i class="' + picto + '" style="color:' + color + ';"></i>'
            });
            var tabLimites = new Array();
            $('.coupleLimites').each(function (index) {
                let alt = $(this).find('input[name="alt"]').val();
                let lon = $(this).find('input[name="lon"]').val();
                var xandy = new Array(alt, lon);
                L.marker([alt, lon], {icon: IconType}).addTo(map).bindPopup(typeLocality).closePopup();
                tabLimites[index] = xandy;
            });
            $('input#locality_map_coordinated').val(tabLimites);
            let coordinates = $('input#locality_map_coordinated').val();
            placeLimitesInMap(tabLimites);
            
            return {'picto': picto, 'color': color, 'typeLocality': typeLocality, 'IconType': IconType};
        }
        var marker = L.marker([0, 0]);
        $(wrapper).on("click", ".show-marker", function (e) {
            e.preventDefault();
            $('.coupleLimites').each(function () {
                $(this).css('background', '');
            });

            map.removeLayer(marker);
            $($(this).closest('div')).css('background', 'gold');
            var x = $($(this).closest('div').children('input')[0]).val();
            var y = $($(this).closest('div').children('input')[1]).val();
            marker = L.marker([x, y], {icon: IconMarkerMap}).addTo(map);
        });
        var itemMenu = null;
</script>