{% extends 'base.html.twig' %}

{% block title %}LocalityMap index{% endblock %}

{% block body %}
    <h1>LocalityMap index</h1>
<div class="row bloc-body-content col-12">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LocalityType</th>
                <th>Picto</th>
                <th>Coordinated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locality_map in locality_maps %}
            <tr>
                <td>{{ locality_map.id }}</td>
                <td>{{ locality_map.localityType }}</td>
                <td><i class="{{ locality_map.picto }} fa-2x" style="color:{{ locality_map.color }};"></i></td>
                <td>{{ locality_map.coordinated ? locality_map.coordinated|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('locality_map_show', {'id': locality_map.id}) }}">show</a>
                    <a href="{{ path('locality_map_edit', {'id': locality_map.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('locality_map_new') }}">Create new</a>
{% endblock %}
