{% extends 'base.html.twig' %}

{% block title %}CategorieYoutube index{% endblock %}

{% block body %}
    <h1>CategorieYoutube index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_youtube in categorie_youtubes %}
            <tr>
                <td>{{ categorie_youtube.id }}</td>
                <td>{{ categorie_youtube.title }}</td>
                <td>
                    <a href="{{ path('categorie_youtube_show', {'id': categorie_youtube.id}) }}">show</a>
                    <a href="{{ path('categorie_youtube_edit', {'id': categorie_youtube.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_youtube_new') }}">Create new</a>
{% endblock %}
