{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <h1 class="float-left" style="line-height: 1 !important;">Liste des actualités</h1>
    <a class="float-sm-right" href="{{ path('actualite_new') }}">{{ include('button.html.twig', {'button_label': 'Ajouter Actualité', 'type_button': 'success', 'icon_label': 'fa-plus'}) }}</a>
    <table class="table overflow-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Titre</th>
                <th>Approbation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.id }}</td>
                <td>{{ actualite.date ? actualite.date|date('d-m-Y H:i') : '' }}</td>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.approbation ? 'Yes' : 'No' }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Third group">
                    <a role="button" class="btn btn-warning btn-sm" href="{{ path('actualite_show', {'titre': actualite.titre}) }}"><i class="far fa-eye"></i></a> 
                    <a role="button" class="btn btn-primary btn-sm" href="{{ path('actualite_edit', {'id': actualite.id}) }}"><i class="fas fa-edit"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
