{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}
    <h1 class="display-4">{{ actualite.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td class="text-muted">{{ actualite.date ? actualite.date|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <td>{{ actualite.message|raw }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="{{ path('actualite_index') }}">Retour à la liste</a>

    <a href="{{ path('actualite_edit', {'id': actualite.id}) }}">Mettre à jour</a>

    {{ include('actualite/_delete_form.html.twig') }}
{% endblock %}
