{% extends 'base.html.twig' %}

{% block title %}Les images téléchargées{% endblock %}

{% block body %}
    <div id="container-thumbnails">
        <h1>Les images uploadées ({{ images|length }})</h1>
        {% if status == 'KO' %}
            <div class="alert alert-warning" role="alert">
                <span class="btn-label"> <i class="fas fa-exclamation-triangle fa-1x"></i> </span>
                Aucune image trouvée !
            </div>
        {% endif %}
        <div class="row text-center text-lg-left">
            {% for image in images %}
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100 thumbnail-block">
                        <img src="{{ image['src'] | imagine_filter('filter_size_thumbnail') }}" itemprop="thumbnail" class="img-fluid img-thumbnail" />
                        <div class="option-thumbnail">
                            <div class="btn-group-sm btn-group">
                                <input id="url_image" type="hidden" value="{{image['src']}}">
                                {% if image['isLocked'] == false %}
                                    <button id="btn-delete-image" class="btn btn-danger btn-delete-image" data-placement="top" data-toggle="tooltip" title="Supprimer cette image">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                {% else %}
                                    <button id="btn-locked" class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Image utilisée en tant que couverture d'un article">
                                        <i class="fas fa-lock"></i>
                                    </button>
                                {% endif %}
                                <button class="btn btn-primary copy-btn" data-placement="top" data-toggle="tooltip" title="Copier le lien de cette image">
                                    <i class="fas fa-link"></i>
                                </button>
                                <button class="btn btn-warning view-btn" data-toggle="modal" data-target="#viewImage">
                                    <i class="far fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <div style="display:none;" class="grey-tint img-fluid img-thumbnail"></div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="viewImage" tabindex="-1" role="dialog" aria-labelledby="viewImageLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewImageLabel">Visualisation d'image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="contentModal" style="width:100%;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        $('.thumbnail-block').mouseenter(function () {
            $(this).find(".option-thumbnail").css("display", "block");
            $(this).find(".grey-tint").addClass('griser').removeAttr('style');
        }).mouseleave(function () {
            $(this).find(".option-thumbnail").css("display", "none");
            $(this).find(".grey-tint").removeClass('griser').css("display", "none");
        });

        $('.btn-delete-image').click(function () {
            var divParent = $(this).closest('div');
            var urlImage = $(divParent).find('#url_image').val();
            $.ajax({
                type: 'POST',
                url: '{{ path('ajax_snippet_image_delete') }}',
                cache: false,
                data: {name: urlImage, ListThumbnailsUploadeds: true}
            })
                    .done(function (data) {
                        $('body').html(data);
                    });
        });
        $(".copy-btn").each(function () {
            $(this).on("click", function () {
                copyToClipboard('/' + $(this).parent().find("#url_image").val());
            });
        });
        $(".view-btn").each(function () {
            $(this).on("click", function () {
                $('img#contentModal').attr('src', '/' + $(this).parent().find("#url_image").val());
            });
        });

    </script>
    {{ include('/document/js_document.html.twig') }}
{% endblock %}